body {
  background-color: floralwhite;
  text-align: justify;
  font-family: neue-haas-unica, sans-serif;
}
@font-face {
  font-family: bdrmono;
  src: url(https://use.typekit.net/imy8sit.css);
}
html {
  font-size: 100%;
}
.navbar {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.playlistbar {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
section {
  display: inline-block;
  margin: 0 20%;
}
div.theboochwebsite {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 10px;
  margin: 0;
  z-index: 0;
}

/* text */

h1 {
  font-size: 5vw;
  font-weight: 700;
  font-style: bold;
  color: #1a1a1a;
  text-align: center;
}

#title {
  margin: 0em;
  font-size: clamp (40px,1vw,70px);
}

h2 {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1a1a1a;
  text-align: center;
}

.subtitle:hover {
  font-style: italic;
}
h3 {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgba(26, 26, 26, 0.4);
}
h4 {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #1a1a1a;
}
p {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1a1a1a;
  text-align: start;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
a.titlelink:hover {
  color: seagreen;
}
.top-links:hover {
  font-style: italic;
}
.playlist:hover {
  font-style: italic;
}
table {
  font-family: neue-haas-unica, sans-serif;
  font-size: small;
  font-weight: 200;
  font-style: normal;
  color: #1a1a1a;
  text-align: center;
}

.wrapper {
  width: 100vw;
  height: 10%;
  background-color: #1a1a1a;
}
.wrappertext {
  font-family: bdr-mono, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  color: floralwhite;
  animation-play-state: running;
  animation-delay: 0ms;
}
#wrapperlink {
  font-size: xx-large;
  color: floralwhite;
}

@keyframes wrappertext {
}
/* IMAGES */

.index-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50vh;
  border-radius: 10px;
  object-fit: cover;
}
.boochvideo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50vh;
  border-radius: 10px;
  object-fit: cover;
}

/* tests */
.container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#radiogradient {
  width: 200px;
  height: 50vh;

  border-radius: 10px;
  margin: 10px;
  background: radial-gradient(
    circle,
    rgba(95, 158, 160, 0.6) 10%,
    rgba(245, 245, 220, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 20%
  );
}
#radiogradient2 {
  width: 200px;
  height: 50vh;

  border-radius: 10px;
  margin: 10px;
  background: radial-gradient(
    circle,
    rgba(148, 146, 247, 0.6) 10%,
    rgba(245, 245, 220, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 20%
  );
}

#radiogradient3 {
  width: 200px;
  height: 50vh;

  border-radius: 10px;
  margin: 10px;
  background: radial-gradient(
    circle,
    rgba(146, 247, 163, 0.6) 10%,
    rgba(245, 245, 220, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 20%
  );
}
#radiogradient:hover {
  opacity: 20%;
}
#radiogradient2:hover {
  opacity: 20%;
}
#radiogradient3:hover {
  opacity: 20%;
}

.grid1 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}
.grid-item {
  padding: 10px;
  text-align: center;
  font-size: 25px;
}
img {
  width: 30vw;
  height: 28vh;
  object-fit: cover;
  border-radius: 5px;
}
.buttontest {
  display: flex;
  align-content: center;
  justify-content: center;
}
.button1 {
  position: relative;
  margin: 10px;
  padding: 1em 2em;
  border: 10px solid coral;
  border-radius: 1em;
  background-color: rgb(243, 183, 161);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  font-size: 1rem;
  font-family: neue-haas-unica;
  font-weight: 400;
  color: floralwhite;
  -webkit-transition: 500ms ease-in-out;
}

.button1:hover {
  background: seagreen;
  transform: translate(10px, 15px);
}

.subtitle:hover {
  animation: coraltogreen 100ms linear infinite alternate;
}
@keyframes coraltogreen {
  0% {
    color: #1a1a1a;
  }
  100% {
    color: coral;
  }
}

/* 
NOTES ON LEARNING

. selects a class
# selects an id

something:hover {to change the atribute while hovers}
#id:link {} before clicking on the link 
#id:visited {} changes after a link has been visisted}

pseudoselectos
  h2+a {color:red;} affects element precedes another directly
  textarea~button{color:red;} affects sibling elements they must be part of the same parent
  ul>li {child selector} affects a direct child
  ul li {descendent selector} affects all descendents

img [src^=".../image/] selects the source of all elements that starts with:  
  ^ starts with 
  $ ends with
  * contains anywhere in the values
white space attribute selector
  classes can be given specific atributes using white space
  to use that specific class we use:
    class~= here goes the class
  to atribute any specific class with a common word we use:in-range
    class|= here goes the class
GRADIENT COLORS

#lineargradient {
  width: 100%;
  height: 400px;

  background: linear-gradient(
    146deg,
    floralwhite 20%,
    rgb(250, 193, 193),
    salmon,
    salmon,
    rgb(250, 193, 193),
    floralwhite
  );
  background-color: rosybrown;
  background-size: cover;
}

#radiogradient {
  width: 100%;
  height: 400px;

  background: radial-gradient(
    circle,
    salmon 10%,
    rgb(250, 193, 193) 30%,
    floralwhite 50%
  );}
  
  Alway add browser support with WEBKID - MOZ - O 

  transform: movement properties
  translate (x,y) 
  scale 
  rotate (angle)

  matrix ( x scale, x skew with decimals, etc..)   */
